extends layout

block content
	nav.navbar.navbar-expand.navbar-light.bg-light
		.nav-item
			.navbar-brand Introduction
		.navbar-nav.ml-auto
			.nav-item
				button.btn.navbar-btn.btn-outline-dark#btn-edit Edit Account
			.nav-item
				button.btn.navbar-btn.btn-outline-dark#btn-camera Camera Options
			.nav-item
				button.btn.navbar-btn.btn-outline-dark#btn-clear Clear Calibration Data
			.nav-item
				button.btn.navbar-btn.btn-outline-dark#btn-logout Sign Out
	include introslider
	include modals/alert

block scripts
	script.
		name="#{name}";
		currentSlide=0;
	script(src='/js/controllers/introductionController.js')
	script(src='/js/views/introduction.js')
	script(src='/js/controllers/bannerController.js')