html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-image: radial-gradient(circle, #f2f9fe, #ebf7fe, #e5f4fe, #ddf2fe, #d6f0fd);
}
h2 {
  margin: 0 0 6px 0;
  font-weight: bold;
}
hr {
  margin: 14px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #fff;
}
ul {
  margin: 4px 0 0 0;
}
label,
h6 {
  color: #808080;
  font-size: 13px;
  font-weight: normal;
  text-shadow: -1px 1px 0 #fff;
}
/*
	login window
*/
#login {
  width: auto;
}
#login .btn {
  float: left;
  width: 48%;
  font-size: 0.8rem;
}
#login .btn-btm {
  padding: 0;
}
#login .btn-left {
  margin-right: 4%;
}
#login #btn_sign_in {
  color: #fff;
}
#login #btn_remember {
  background: #fff;
  border: 1px solid #ced4da;
}
#login #btn_remember:hover {
  background: #f8f9fa;
}
#login h6,
#login label {
  font-size: 0.8rem;
}
#login h6,
#login label,
#login #btn_remember {
  color: #808080;
  text-shadow: -1px 1px 0 #fff;
}
#login .fa {
  padding-right: 10px;
}
#login hr {
  clear: left;
}
#login .btm-links {
  font-size: 0.8rem;
  margin: 2px 0 0 0;
}
#login .btm-links #forgot-password {
  float: left;
  margin-left: 16px;
}
#login .btm-links #create-account {
  float: right;
  margin-right: 20px;
}
#account-form-container label {
  text-align: right;
  margin-top: 2px;
}
#account-form-container input,
#account-form-container select {
  font-size: 0.875rem;
}
#account-form-container .col-sm-9 {
  padding-left: 0;
}
#account-form-container .margin-zero {
  margin-bottom: 0;
}
#account-form-container .form-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
#account-form-container .form-buttons>:not(:last-child) {
  margin-right: 0.5rem;
}
/*
	modal windows
*/
.modal .modal-dialog {
  width: 480px;
}
.modal .form-group {
  margin-bottom: 0px;
}
.modal .alert {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 8px 15px 8px 15px;
}
.modal .alert-dismissable,
.modal .close {
  right: -4px;
}
.modal p {
  margin: 0;
  padding: 0;
}
.modal .modal-footer button {
  width: 80px;
}
.center-vertical {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.centerAlign {
  align-self: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  top: 50%;
  left: 50%;
  position: absolute;
}
.hidden {
  display: none !important;
}
.trainDot {
  position: relative;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  user-select: none;
  text-align: center;
  z-index: 9999999;
}
.yellow {
  background-color: #ff0;
}
.green {
  background-color: #008000;
}
.row {
  position: relative;
  display: flex;
  margin: 0;
  justify-content: space-between;
  height: auto;
  width: 100%;
}
.rowContainer {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  z-index: 999;
}
.questionContainer {
  color: #000;
  display: flex;
  flex-flow: wrap;
  font-size: x-small;
  max-width: 150px;
  min-width: 150px;
  max-height: 30px;
  min-height: 30px;
  background-color: rgba(200,200,200,0.6);
  z-index: 100;
}
.answerContainer {
  align-self: flex-end;
  width: 100%;
}
.question {
  width: 50%;
  background-color: rgba(255,255,255,0.6);
}
.survey {
  padding: 50px;
  width: 960px;
  height: 720px;
  background-color: rgba(255,255,255,0.6);
}
.survey .btn {
  background-color: #007bff;
  color: #f8f9fa;
}
.survey .btn:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
.front {
  z-index: 9999;
}
.spaceRight {
  margin-right: 25px;
}
.nav-item {
  margin-right: 5px;
}
body > video,
body > canvas {
  left: auto !important;
  right: 0px;
  margin-top: 0px;
  visibility: visible;
}
body > video.hide,
body > canvas.hide {
  visibility: hidden;
}
.btn.toggleVideo {
  position: fixed;
  top: 180px;
  right: 0px;
  width: 240px;
}
.btn.toggleVideo.hide {
  top: 0px;
}
@-moz-keyframes buttonUp {
  from {
    top: 180px;
  }
  to {
    top: 0px;
  }
}
@-webkit-keyframes buttonUp {
  from {
    top: 180px;
  }
  to {
    top: 0px;
  }
}
@-o-keyframes buttonUp {
  from {
    top: 180px;
  }
  to {
    top: 0px;
  }
}
@keyframes buttonUp {
  from {
    top: 180px;
  }
  to {
    top: 0px;
  }
}
@-moz-keyframes buttonDown {
  from {
    top: 0px;
  }
  to {
    top: 180px;
  }
}
@-webkit-keyframes buttonDown {
  from {
    top: 0px;
  }
  to {
    top: 180px;
  }
}
@-o-keyframes buttonDown {
  from {
    top: 0px;
  }
  to {
    top: 180px;
  }
}
@keyframes buttonDown {
  from {
    top: 0px;
  }
  to {
    top: 180px;
  }
}
@-moz-keyframes videoUp {
  from {
    top: 0px;
  }
  to {
    top: -179px;
  }
}
@-webkit-keyframes videoUp {
  from {
    top: 0px;
  }
  to {
    top: -179px;
  }
}
@-o-keyframes videoUp {
  from {
    top: 0px;
  }
  to {
    top: -179px;
  }
}
@keyframes videoUp {
  from {
    top: 0px;
  }
  to {
    top: -179px;
  }
}
@-moz-keyframes videoDown {
  from {
    top: -179px;
  }
  to {
    top: 0px;
  }
}
@-webkit-keyframes videoDown {
  from {
    top: -179px;
  }
  to {
    top: 0px;
  }
}
@-o-keyframes videoDown {
  from {
    top: -179px;
  }
  to {
    top: 0px;
  }
}
@keyframes videoDown {
  from {
    top: -179px;
  }
  to {
    top: 0px;
  }
}
